<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <customErrors mode="Off" />
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>

    
  </system.web>
  <connectionStrings>
    <add name="dbCon" connectionString="Data Source=localhost;port=3306;Initial Catalog=eoes;User Id=root;password=qwe123" />
  </connectionStrings>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.aspx" />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  

  
</configuration>

